# Environment
.env
.env.*
!.env.example

# Dependencies
/vendor/
/studio/vendor/


# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.settings/
.buildpath
.project

# SQL seeds
sql/zipcodes.sql
sql/googleOauthInserts.sql

# Uploads
/public/uploads/profiles/

# Large videos
assets/video/*.webm
assets/video/Fireball-orig.webm

# Docs (optional)
README.md